{% extends "base.html" %}
{% block title %}
  Правила
{% endblock %}
{% block content %}
      <div class="container py-5">
        <h1>О проекте</h1>
        <p>
          Уеблог — это дом для творческих людей. Это — сообщество людей, для которых
          нет грани вообще.
        </p>
        <p>
          Хотите кайфуйте, туда сюда. Здесь весело, можете делится музыкой или фильмами.
          А можете просто пойти на Х...
        </p>
        <p>
          Творчество, разнообразие и свобода взглядов и самовыражения —
          основные черты наших пользователей.
        </p>
      </div>
{% endblock %}