{% extends "base.html" %}
{% block title %}
  Мейн Пейг
{% endblock %}
{% block content %}
      <div class="container py-5">
        <h1>Лента записей</h1>
        {% for post in posts %}
        <hr>
        <article>
          <ul>
            <li>
              Место: {{ post.location }}
            </li>
            <li>
              Дата: {{ post.date }}
            </li>
            <li>
              Категория: <a>{{ post.category }}</a>
            </li>
          </ul>

          <p>
            {{ post.text|truncatewords:10 }}
          </p>
          <a href="{% url 'blogs:detail' post.id %}">Читать полный текст</a>
        </article>
        {% endfor %}
{% endblock %}